<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <table>
        <tr>
            <th>Tasks</th>
            <th>Completed</th>
            <th>Date</th>
            <th>Actions</th>
        </tr>
       
        <tr>
            <td>{{one_task["description"]}}</td>
            {% if one_task["completed"] == 0 %}
            <td>Incomplete</td>
            {%else%}
            <td>Completed</td>
            {% endif %}
            <td>{{one_task["date_created"]}}</td>
        <tr>

       </table>

       <form action="/update/{{one_task["id"]}}" method="POST">
        <input type="text" name="task" value= "{{one_task["description"]}}"> 
        <input type ="radio" name="options" value="Completed"> Completed
        <input type ="radio" name="options" value="Not Completed"> Not Completed
        <input type="submit" value ="submit">
       </form>
        
    </body>
</html>